*.swp
/Python/PlayFlask/HelloFlask/flaskenv
*.suo
/Python/PlayFlask/HelloFlask/bin
/Python/PlayFlask/HelloFlask/obj/Debug
*.pyc
*.suo
*.v12.suo
*.mdf
*.ldf
Python/TestPandas2/pydata-book/ch02/movielens/ratings.dat
Python/TestPandas2/pydata-book/ch07/foods-2011-10-03.json

Python/TestPandas2/data/usagov_bitly_data2012-03-16-1331923249.txt

Python/TestPandas2/data/ratings.dat

Python/.DS_Store

JavaScript/TestJs/syntax/.DS_Store

JavaScript/TestJs/dom/.DS_Store

JavaScript/TestJquery/common/.DS_Store

JavaScript/TestJquery/manualtest/.DS_Store

JavaScript/TestJs/.DS_Store

JavaScript/TestJquery/basic/.DS_Store

JavaScript/TestJquery/ajax/.DS_Store

JavaScript/TestJs/bom/.DS_Store

HTML_CSS/TestCss/.DS_Store

HTML_CSS/TestCss/scripts/.DS_Store

JavaScript/TestJquery/.DS_Store

HTML_CSS/.DS_Store

.DS_Store

LearnTensorflow/ComposeShakespeare/.idea

LearnTensorflow/ComposeShakespeare/shakespeare_model

*.jar

scala/playscala/.cache-main

scala/playscala/.cache-main
